body {
    background-color: rgb(22, 22, 22);
    color: rgb(222, 222, 222);
}

h1 {
    text-align: center;
    margin: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > * {
    width: 30%;
}


form > input {
    margin-bottom: 2em;
}

label {
    font-size: 1.3em;
    margin-bottom: 0.7em;
}

input[type="number"] {
    font-size: 1.3em;
    height: 3em;
}

input[type="submit"] {
    border-radius: 25px;
    height: 2.5em;
    font-size: 1.3em;
}

input[type="submit"]:hover {
    color: rgb(201, 50, 24);
    background-color: lightgray;
    border: 2px solid rgb(201, 50, 24);
}

p {
    text-align: center;
    margin: 1.5em;
    font-size: 1.4em;
}